In [1]:
print("Hello, world!")

Hello, world!

## Data types
print("Hello, world!)

In [12]:
# string is either double quotes or single quotes

test = "hello"

print(test)
type(test)

# Numeric types come in two forms
#Integers and floats

# Integer
number = 10

#float
floaty = 5.4

number + floaty # some types can be added together

test + number # gives error message - string and number cannot be added together

hello

TypeError: can only concatenate str (not "int") to str

In [13]:
test + test

'hellohello'

### Operators

In [14]:
100 - 4

96

In [15]:
36/6

6.0

In [16]:
6 * 10

60

In [17]:
7 ** 7

823543

In [19]:
15 // 4 #floor division - rounds the result to the nearest integer

3

In [21]:
15 % 2 #modulo - tests whether a number is odd or even

1

In [24]:
# cocatenation with strings

"foo" + "bar" 

"foo" - "bar" # returns an error as there is nothing to negate

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
"foo" * 10

'foofoofoofoofoofoofoofoofoofoo'

## Python Collections

In [2]:
# list

my_list = [1, "2", 3.2]
print(my_list)

[1, '2', 3.2]

In [3]:
print(my_list[0]) #lists in python start with 0

1

In [4]:
print(my_list[-1])

3.2

In [5]:
print(my_list[1:]) #retrieves everything but the first item

['2', 3.2]

In [7]:
# dictionaries

my_dict = {"one": 1, "two": 2, "three": 3}

print(my_dict[0]) # dictionaries are not ordered like a list

KeyError: 0

In [8]:
print(my_dict["one"]) # dictionaries require keys in order to retrieve information

1